<div mat-dialog-content class="add-product-container">
    <div class="add-product-container__col1">
        <img *ngIf="imageUrl" [src]="imageUrl" />
        <input (change)="onFileSelected($event)" type="file" id="myPImg" name="myPImg" />
        <label for="myPImg" class="custom-file-upload">Choose File</label>
        <div class="predict-area">
            <h4 id="predict-text">Watermelon</h4>
            <h4 id="predict-text">99.999999%</h4>
        </div>
        <button id="predict-btn">Predict</button>
    </div>
    <div class="add-product-container__col2">
        <div class="input-product-info">
            <label class="add-p-label" for="add-p-name">Product name</label>
            <input type="text" id="add-p-name" name="add-p-name" placeholder="Product name.." />
        </div>
        <div class="add-product-container__col2__row2">
            <div class="input-product-info">
                <label class="add-p-label" for="add-p-weight">Weight</label>
                <input type="text" id="add-p-weight" name="add-p-weight" placeholder="Weight.." />
            </div>
            <div class="input-product-info">
                <label class="add-p-label" for="add-p-season">Season</label>
                <select>
                    <option value="0">Select season:</option>
                    <option value="1">Spring</option>
                    <option value="2">Summer</option>
                    <option value="3">Autumn</option>
                    <option value="4">Winter</option>
                </select>
            </div>
        </div>
        <div class="add-product-container__col2__row2">
            <div class="input-product-info">
                <label class="add-p-label" for="add-p-date">Date</label>
                <p style="color: #000 !important">{{ today | date : "dd/MM/yyyy" }}</p>
            </div>
            <div class="input-product-info">
                <label class="add-p-label" for="add-p-category">Category</label>
                <select>
                    <option value="0">Select car:</option>
                    <option value="1">Audi</option>
                    <option value="2">BMW</option>
                    <option value="3">Citroen</option>
                    <option value="4">Ford</option>
                </select>
            </div>
        </div>
        <div class="input-product-info" style="margin-top: -13px !important">
            <label class="add-p-label"  for="add-p-description">Description</label>
            <textarea></textarea>
        </div>
        <div mat-dialog-actions class="add-product-container__col2__row2" style="margin-top: -8px; padding: 0 !important">
            <button id="add-p-btn">Add</button>
            <button mat-dialog-close id="cancel-p-btn">Cancel</button>
        </div>
    </div>
</div>