<div mat-dialog-content class="add-product-container">
    <div class="add-product-container__col1">
        <img *ngIf="imageUrl" [src]="imageUrl" />
        <input (change)="onFileSelected($event)" type="file" id="myPImg" name="myPImg" />
        <label for="myPImg" class="custom-file-upload">Choose File</label>
        <div class="predict-area">
            <h4 id="predict-text">{{p_product}}</h4>
            <h4 id="predict-text">{{p_confidence | number:'1.2-2'}}%</h4>
        </div>
        <button id="predict-btn" (click)="predictForm()">Predict</button>
    </div>
    <div class="add-product-container__col2">
        <div class="input-product-info">
            <label class="add-p-label" for="add-p-name">Product name</label>
            <input type="text" id="add-p-name" name="add-p-name" placeholder="Product name.." required value="{{p_product}}" #a_name
                 />
        </div>
        <div class="add-product-container__col2__row2">
            <div class="input-product-info">
                <label class="add-p-label" for="add-p-weight">Weight</label>
                <input type="text" id="add-p-weight" name="add-p-weight" placeholder="Weight.." required #a_weight
                     />
            </div>
            <div class="input-product-info">
                <label class="add-p-label" for="add-p-season">Season</label>
                <select  value = {{p_season}} #a_season>
                    <!-- <option value="0">Select season:</option> -->
                    <option value="Spring">Spring</option>
                    <option value="Summer">Summer</option>
                    <option value="Autumn">Autumn</option>
                    <option value="Winter">Winter</option>
                </select>
            </div>
        </div>
        <div class="add-product-container__col2__row2">
            <div class="input-product-info">
                <label class="add-p-label" for="add-p-date">Date</label>
                <p style="color: #000 !important">
                    {{ today | date : "yyyy-MM-dd" }}
                </p>
            </div>
            <div class="input-product-info">
                <label class="add-p-label" for="add-p-category">Category</label>
                <select value = {{p_category}} required #a_category>
                    <!-- <option value="0">Select category:</option> -->
                    <option value="Trái cây">Fruits</option>
                    <option value="Rau xanh">Vegetables</option>
                    <option value="Rau củ">Tubers</option>
                    <option value="Đậu">Beans</option>
                    <option value="Gia vị">Spices</option>
                </select>
            </div>
        </div>
        <div class="input-product-info" style="margin-top: -13px !important">
            <label class="add-p-label" for="add-p-description">Description</label>
            <textarea required #a_description></textarea>
        </div>
        <div mat-dialog-actions class="add-product-container__col2__row2"
            style="margin-top: -8px; padding: 0 !important">
            <button id="add-p-btn" (click)="addProduct(a_name.value, a_weight.value, a_description.value, a_season.value, a_category.value)">Add</button>
            <button mat-dialog-close id="cancel-p-btn">Cancel</button>
        </div>
    </div>
</div>
<mat-progress-bar color="accent" *ngIf="loading" mode="indeterminate"></mat-progress-bar>