getCategory(name: any) {
    var ct: string = '';
    if (
      name == 'apple' ||
      name == 'banana' ||
      name == 'corn' ||
      name == 'eggplant' ||
      name == 'cucumber' ||
      name == 'grapes' ||
      name == 'kiwi'||
      name == 'lemon'||
      name == 'mango'||
      name == 'orange' ||
      name == 'pear'||
      name == 'pineapple'||
      name == 'pomegranate'||
      name == 'sweetcorn'||
      name == 'tomato' ||
      name == 'watermelon'


    ) {
      ct = 'Trái cây';
    }
    if (
      name == 'cabbage' ||
      name == 'cauliflower' ||
      name == 'lettuce' ||
      name == 'spinach' ||


    ) {
      ct = 'Rau xanh';
    }
    if (
      name == 'beetroot' ||
      name == 'carrot' ||
      name == 'potato' ||
      name == 'raddish' ||
      name == 'sweetpotato' ||
      name == 'turnip'
      
    ) {
      ct = 'Rau củ';
    }
    if (
        name == 'peas'||
        name == 'soy beans'||


    ) {
      ct = 'Đậu';
    }
    if (
        name == 'garlic' ||
        name == 'ginger' ||
        name == 'bell pepper' ||
        name == 'capsicum' ||
        name == 'chilli pepper' ||
        name == 'jalepeno' ||
        name == 'onion' ||
        name == 'paprika'

      ) {
        ct = 'Gia vị';
      }
    return ss;
  }