<header>
  <div class="header-container">
    <a href ="home" class="header-left">
      <img class="logo" src="../../../assets/logo.png" />
    </a>
    <audio src="../assets/audio/theme1.mp3" type="audio/mp3" style="margin-left: 30px;"controls></audio>
    <div class="header-right">
        <a class="menu-btn" href="/chatting" id="message-btn">Message</a>
        <a class="menu-btn" (click)="logoutFarmhome()" id="logout-btn">Log out</a>
      <img class="farmer-img" src="{{avatar}}" />
    </div>
  </div>
</header>
