<div class="product-container">
  <button class="add-product-btn" id="add-product-btn">
    + Add new product
  </button>
  <div class="product-cards">
    <!--Card-->
    <div class="product-card">
      <div class="product-card__content">
        <h3 class="product-id">#1</h3>
        <img class="product-img" src="../../../assets/fruit_demo.png" />
        <div class="product-contain">
          <h3 class="product-name">Product Name</h3>
          <ul>
            <li>Having: 1000kg</li>
            <li>Remaining: 1000kg</li>
            <li>Season: Spring</li>
            <li>Date: 01-01-2023</li>
            <li>Description: Trai cay mua xuan nam ay chung ta tim ve</li>
          </ul>
        </div>
        <a class="mp-icons">
          <img class="mp-icon" src="../../../assets/images/icon/price.png" />
        </a>
      </div>
      <div class="product-card__button">
        <button id="update-product-btn">Update</button>
        <button id="delete-product-btn">Detele</button>
      </div>
    </div>
    <!--Card-->
    <div class="product-card">
      <div class="product-card__content">
        <h3 class="product-id">#1</h3>
        <img class="product-img" src="../../../assets/fruit_demo.png" />
        <div class="product-contain">
          <h3 class="product-name">Product Name</h3>
          <ul>
            <li>Having: 1000kg</li>
            <li>Remaining: 1000kg</li>
            <li>Season: Spring</li>
            <li>Date: 01-01-2023</li>
            <li>Description: Trai cay mua xuan nam ay chung ta tim ve</li>
          </ul>
        </div>
        <a class="mp-icons">
          <img class="mp-icon" src="../../../assets/images/icon/price.png" />
        </a>
      </div>
      <div class="product-card__button">
        <button id="update-product-btn">Update</button>
        <button id="delete-product-btn">Detele</button>
      </div>
    </div>
     <!--Card-->
     <div class="product-card">
        <div class="product-card__content">
          <h3 class="product-id">#1</h3>
          <img class="product-img" src="../../../assets/fruit_demo.png" />
          <div class="product-contain">
            <h3 class="product-name">Product Name</h3>
            <ul>
              <li>Having: 1000kg</li>
              <li>Remaining: 1000kg</li>
              <li>Season: Spring</li>
              <li>Date: 01-01-2023</li>
              <li>Description: Trai cay mua xuan nam ay chung ta tim ve</li>
            </ul>
          </div>
          <a class="mp-icons">
            <img class="mp-icon" src="../../../assets/images/icon/price.png" />
          </a>
        </div>
        <div class="product-card__button">
          <button id="update-product-btn">Update</button>
          <button id="delete-product-btn">Detele</button>
        </div>
      </div>
       <!--Card-->
    <div class="product-card">
        <div class="product-card__content">
          <h3 class="product-id">#1</h3>
          <img class="product-img" src="../../../assets/fruit_demo.png" />
          <div class="product-contain">
            <h3 class="product-name">Product Name</h3>
            <ul>
              <li>Having: 1000kg</li>
              <li>Remaining: 1000kg</li>
              <li>Season: Spring</li>
              <li>Date: 01-01-2023</li>
              <li>Description: Trai cay mua xuan nam ay chung ta tim ve</li>
            </ul>
          </div>
          <a class="mp-icons">
            <img class="mp-icon" src="../../../assets/images/icon/price.png" />
          </a>
        </div>
        <div class="product-card__button">
          <button id="update-product-btn">Update</button>
          <button id="delete-product-btn">Detele</button>
        </div>
      </div>
  </div>
</div>
