<div class="product-container">
  <div class="product-head">
    <p>{{ today | date : "dd/MM/yyyy" }}</p>
    <div class="product-head-btn">
      <button class="add-product-btn" id="add-product-btn" (click)="openAddProductDialog()">
        + Add new product
      </button>
      <button class="add-product-btn" id="refresh" style="width: 80px" (click)="refreshBtn()">
        Refresh
      </button>
    </div>
  </div>
  <mat-progress-bar style="margin-top: 5px" color="accent" *ngIf="loading2" mode="indeterminate"></mat-progress-bar>
  <img class ="loading-fruit" src="../../../assets/images/healthy-food-unscreen.gif" *ngIf="loading" style="display: block;  margin-left: auto;  margin-right: auto;" />
  <div class="product-cards">
    <ng-container *ngFor="let p of products; let i = index">
      <!--Card-->
      <div class="product-card-full">
        <div class="product-card">
          <div class="product-card__content">
            <h3 class="product-id"></h3>
            <img class="product-img" src="{{ p.images[0].url }}" />
            <div class="product-contain">
              <h3 class="product-name">#{{ p.id }} {{ p.name }}</h3>
              <ul>
                <li>
                  Having: <b>{{ p.weight }}{{ p.unit }}</b>
                </li>
                <li>
                  Remaining:<b> {{ p.remainingWeight }}{{ p.unit }}</b>
                </li>
                <li>
                  Category: {{translateCategory(p.category)}}
                </li>
                <li>Season: {{ p.season }}</li>
                <li>Date: {{ p.date | date : "dd/MM/yyyy" }}</li>
                <li style="width: 140%">Description: {{ p.description }}</li>
              </ul>
            </div>
            <div class="sg_price">
              <h5>
                Market price <br />
                {{ p.suggestPrice }}
              </h5>
            </div>
          </div>
        </div>
        <mat-accordion>
          <!--Update-->
          <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="p-panel-header">
              <mat-panel-title style="color: rgb(10, 41, 14)">
                Click to Update
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="collapse-p-content" style="margin-top: 10px">
              <div class="add-product-container__col1">
                <img *ngIf="imageUrl" [src]="imageUrl" />
                <input (change)="onFileSelected($event)" type="file" id="myUPImg" name="myUPImg" />
                <label for="myUPImg" class="custom-file-upload">Change Image</label>
              </div>
              <div class="add-product-container__col2">
                <div class="input-product-info">
                  <label class="add-p-label" for="add-p-name">Product name</label>
                  <input type="text" id="update-p-name" name="add-p-name" placeholder="Product name.." [value]="p.name"
                    required #pname />
                </div>
                <div class="add-product-container__col2__row2">
                  <div class="input-product-info">
                    <label class="add-p-label" for="add-p-weight">Weight</label>
                    <input type="text" id="update-p-weight" name="add-p-weight" placeholder="Weight.."
                      [value]="p.remainingWeight" required #weight />
                  </div>
                  <div class="input-product-info">
                    <label class="add-p-label" for="update-p-season">Season</label>
                    <select required #season>
                      <option value="0">Select season:</option>
                      <option value="Spring">Spring</option>
                      <option value="Summer">Summer</option>
                      <option value="Autumn">Autumn</option>
                      <option value="Winter">Winter</option>
                    </select>
                  </div>
                </div>
                <div class="add-product-container__col2__row2">
                  <div class="input-product-info">
                    <label class="add-p-label" for="update-p-date">Date</label>
                    <p style="color: #000 !important">
                      {{ today | date : "dd-MM-yyyy" }}
                    </p>
                  </div>
                  <div class="input-product-info">
                    <label class="add-p-label" for="update-p-category">Category</label>
                    <select required #category>
                      <option value="0">Select category:</option>
                      <option value="Trái cây">Fruits</option>
                      <option value="Rau xanh">Vegetables</option>
                      <option value="Rau củ">Tubers</option>
                      <option value="Đậu">Beans</option>
                      <option value="Gia vị">Spices</option>
                    </select>
                  </div>
                </div>
                <div class="input-product-info" style="margin-top: -13px !important">
                  <label class="add-p-label" for="update-p-description">Description</label>
                  <textarea [value]="p.description" required #description></textarea>
                </div>
                <div mat-dialog-actions class="add-product-container__col2__row2"
                  style="margin-top: -8px; padding: 0 !important; float: right">
                  <button id="update-product-btn"
                    (click)="updateProduct(p.id.toString(), weight.value, pname.value, season.value, description.value, category.value)">Update</button>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <!--Delete-->
          <mat-expansion-panel hideToggle style="border-radius: 0 0 10px 10px; ">
            <mat-expansion-panel-header class="p-panel-header">
              <mat-panel-title style="color: rgb(192, 0, 0); ">
                Click to Delete
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="collapse-p-content" style="display: flex; justify-content: space-between; margin-top: 10px">
              <p>Are you sure to delete this product?</p>
              <button id="delete-product-btn" (click)="deleteProduct(p.id.toString())">
                Delete
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  </div>
</div>