<div class="profile-container">
  <mat-tab-group dynamicHeight color="accent">
    <!--Profile-->
    <mat-tab label="Profile">
      <div class="profile-setting">
        <div class="profile-setting__header">
          <div class="hidden-block"></div>
          <h1>Profile Settings</h1>
          <img class="profile-setting__header__logo" src="../../../assets/logo.png" />
        </div>
        <div class="profile-setting__body">
          <div class="profile-info">
            <img *ngIf="!loading" class="profile-info__avt" src="{{ avatar }}" />
            <h3 *ngIf="!loading">Farmer {{ id }}</h3>
            <h2>{{ firstName }} {{ lastName }}</h2>
            <span style="
                color: #009514;
                font-weight: 500;
                margin-top: -10px;
                margin-bottom: 10px;
              ">{{ status }}</span>
            <div class="profile-info__contact" *ngIf="!loading">
              <h3><b>Phone:</b> {{ phone }}</h3>
              <h3><b>Birthday:</b> {{ birthDay }}</h3>
              <h3><b>Gmail:</b> {{ email }}</h3>
              <h3><b>Address:</b> {{ address }}</h3>
              <h3>
                {{ ward }}, {{ district }},
                {{ province }}
              </h3>
            </div>
            <img class="loading-fruit" src="../../../assets/images/healthy-food-unscreen.gif" *ngIf="loading" style="
                display: block;
                width: 200px;
                height: 200px;
                margin-left: auto;
                margin-top: 100px;
                margin-right: auto;
              " />
          </div>
          <div class="profile-update">
            <div class="profile-update__section" style="display: flex; align-items: center">
              <img style="width: 130px; height: 130px; border-radius: 10px" *ngIf="imageUrl" [src]="imageUrl" />
              <input (change)="onFileSelected($event)" type="file" id="myPImg" name="myPImg" />
              <label for="myPImg" class="custom-file-upload">Change avatar</label>
            </div>
            <div class="profile-update__section">
              <div class="profile-update__section__1">
                <label for="fname">First Name</label>
                <input type="text" [value]="firstName" id="fname" name="firstname" placeholder="Your name.." />
              </div>
              <div class="profile-update__section__1">
                <label for="lname">Last Name</label>
                <input type="text" [value]="lastName" id="lname" name="lastname" placeholder="Your name.." />
              </div>
              <div class="profile-update__section__1">
                <label for="bday">Date of Birth</label>
                <input type="text" [value]="birthDay" id="dob" name="dob" placeholder="Your birthday.." />
              </div>
            </div>
            <div class="profile-update__section" style="margin-top: -30px">
              <div class="profile-update__section__1">
                <label for="location">Address</label>
                <input type="text" [value]="address" id="addres" name="address" placeholder="Your address.." />
              </div>
              <div class="profile-update__section__1">
                <label for="province">Province:</label>
                <select id="province" [(ngModel)]="selectedProvince" (ngModelChange)="onProvinceChange()">
                  <option *ngFor="let province of provinces" [value]="province.province_code">
                    {{ province.province }}
                  </option>
                </select>

                <label for="district">District:</label>
                <select id="district" [(ngModel)]="selectedDistrict" (ngModelChange)="onDistrictChange()">
                  <option *ngFor="let district of districts" [value]="district.district_code">
                    {{ district.district }}
                  </option>
                </select>

                <label for="ward">Ward:</label>
                <select id="ward" [(ngModel)]="selectedWard">
                  <option *ngFor="let ward of wards" [value]="ward.ward_code">
                    {{ ward.ward }}
                  </option>
                </select>
              </div>
            </div>
            <div class="profile-update__section" style="margin-top: -30px">
              <div class="profile-update__section__1">
                <label for="email">Email</label>
                <input type="email" [value]="email" id="email" name="email" placeholder="Your email.." />
              </div>
              <div class="profile-update__section__1">
                <label for="phone">Phone</label>
                <input type="text" [value]="phone" id="phone" name="phone" placeholder="Your phone.." />
              </div>
              <button class="custom-file-upload" style="width: 100%; margin-top: 20px">
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <!--Account-->
    <mat-tab label="Account">
      <div class="account-setting">
        <div class="profile-setting" style="background: url('../../../assets/images/wave_1.svg'); background-repeat: no-repeat; background-position: center bottom">
          <div class="profile-setting__header">
            <div class="hidden-block"></div>
            <h1>Account Settings</h1>
            <img class="profile-setting__header__logo" src="../../../assets/logo.png" />
          </div>
          <div class="profile-setting__body">
            <div class="profile-update" style="
                display: flex;
                flex-direction: column;
                width: 500px;
                height: 300px;
                margin-left: auto;
                margin-right: auto;
              ">
              <div class="profile-update__section">
                <div class="profile-update__section__1">
                  <label for="uname">User Name</label>
                  <input type="text" [value]="username" id="uname" name="uname" placeholder="Your name.." readonly />
                </div>
                <div class="profile-update__section__1">
                  <label for="pass">Password</label>
                  <input type="password" id="pass" name="pass" placeholder="Your password.." />
                </div>
                <div class="profile-update__section__1">
                  <label for="newpass">New Password</label>
                  <input type="password" id="newpass" name="newpass" placeholder="Your new password.." />
                </div>
              </div>
              <div class="profile-update__section">
                <button class="custom-file-upload" style="width: 100%; margin-top: 20px">
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>