* {
  font-family: "Inter", sans-serif !important;
}

html,
body {
  overflow: hidden;
  font-family: "Inter", sans-serif !important;
}

@import "./support/login-page.component.scss",
"./support/register-page.component.scss",
"./support/add-product-dialog.component.scss",
"./support/header.component.scss", "./support/history-card.component.scss",
"./support/order-card.component.scss", "./support/product-card.component.scss",
"./support/sidebar.component.scss",
"./support/update-product-dialog.component.scss",
"./support/chatting.component.scss", "./support/product.component.scss",
"./support/suggest-price.component.scss", "./support/order.component.scss",
"./support/home.component.scss";