<div class="message-container">
	<div class="contact-block">
		<h3>Chat</h3>
		<div class="contact-user">
			<img class="contact-avt" src="../../../assets/image-placeholder.png" />
			<h4>Thuong lai 1</h4>
		</div>
		<div class="contact-user">
			<img class="contact-avt" src="../../../assets/image-placeholder.png" />
			<h4>Thuong lai 1</h4>
		</div>
		<div class="contact-user">
			<img class="contact-avt" src="../../../assets/image-placeholder.png" />
			<h4>Thuong lai 1</h4>
		</div>
		<div class="contact-user">
			<img class="contact-avt" src="../../../assets/image-placeholder.png" />
			<h4>Thuong lai 1</h4>
		</div>
		<div class="contact-user">
			<img class="contact-avt" src="../../../assets/image-placeholder.png" />
			<h4>Thuong lai 1</h4>
		</div>
		<div class="contact-user">
			<img class="contact-avt" src="../../../assets/image-placeholder.png" />
			<h4>Thuong lai 1</h4>
		</div>
		<div class="contact-user">
			<img class="contact-avt" src="../../../assets/image-placeholder.png" />
			<h4>Thuong lai 1</h4>
		</div>
		<div class="contact-user">
			<img class="contact-avt" src="../../../assets/image-placeholder.png" />
			<h4>Thuong lai 1</h4>
		</div>
		<div class="contact-user">
			<img class="contact-avt" src="../../../assets/image-placeholder.png" />
			<h4>Thuong lai 1</h4>
		</div>
	</div>
	<div class="message-block">
		<div class="chatting-space">
			<div class="chatting-space__you">
				<p>Hello, how are you today?</p>
			</div>
			<div class="chatting-space__other">
				<p>I'm fine. Thank you, and you?</p>
			</div>
			<div class="chatting-space__you">
				<p>Hello, how are you today?</p>
			</div>
			<div class="chatting-space__other">
				<p>I'm fine. Thank you, and you?</p>
			</div>
			<div class="chatting-space__you">
				<p>Hello, how are you today?</p>
			</div>
			<div class="chatting-space__other">
				<p>I'm fine. Thank you, and you?</p>
			</div>
		</div>
		<div class="chatting-bar">
			<input type="text" name="chatting" id="chatting-input">
			<button class="chat-btn">Send</button>
		</div>
	</div>
</div>