<div class="profile-container" style="
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  ">
    <mat-tab-group dynamicHeight color="accent">
        <!--Login-->
        <mat-tab label="Login">
            <div class="account-setting">
                <div class="profile-setting" style="
            background: url('../../../assets/images/wave_1.svg');
            background-repeat: no-repeat;
            background-position: center bottom;
          ">
                    <div class="profile-setting__header">
                        <div class="hidden-block"></div>
                        <h1 style="padding: 20px">Login</h1>
                        <img class="profile-setting__header__logo" src="../../../assets/logo.png" />
                    </div>
                    <div class="profile-setting__body">
                        <div class="profile-update" style="
                display: flex;
                flex-direction: column;
                width: 300px;
                height: 240px;
                margin-left: auto;
                margin-right: auto;
              ">
                            <div class="profile-update__section">
                                <div class="profile-update__section__1">
                                    <label for="uname">User Name</label>
                                    <input type="text" id="uname" name="uname" placeholder="Your username.."
                                        #username_login />
                                </div>
                                <div class="profile-update__section__1">
                                    <label for="pass">Password</label>
                                    <input type="password" id="pass" name="pass" placeholder="Your password.."
                                        #password_login />
                                </div>
                            </div>
                            <div class="profile-update__section">
                                <button class="custom-file-upload" style="width: 100%; margin-top: 20px" (click)="
                    loginFarmhome(username_login.value, password_login.value)
                  ">
                                    Sign in
                                </button>
                            </div>
                            <img src="../../../assets/images/output-onlinegiftools.gif" *ngIf="loading" style="
                  display: block;
                  width: 160px;
                  height: 160px;
                  margin-top: 65px;
                  margin-left: auto;
                  margin-right: auto;
                " />
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!--Register-->
        <mat-tab label="Register">

            <div class="account-setting">
                <div class="profile-setting" style="
            background: url('../../../assets/images/wave_1.svg');
            background-repeat: no-repeat;
            background-position: center bottom;
          ">
                    <div class="profile-setting__header">
                        <div class="hidden-block"></div>
                        <h1>Register</h1>
                        <img class="profile-setting__header__logo" src="../../../assets/logo.png" />
                    </div>
                    <div class="profile-setting__body" style="justify-content: center">
                        <img src="../../../assets/images/output-onlinegiftools.gif" *ngIf="loading" style="
                        display: block;
                        width: 200px;
                        height: 200px;
                        margin-top: 65px;
                        margin-left: auto;
                        margin-right: auto;
                      " />
                        <div class="profile-update" style="
                align-self: center;
                grid-template-columns: 1fr 1fr 1fr;
                width: 1100px;
              " *ngIf="!loading">
                            <mat-stepper class="register-stepper" orientation="vertical" [linear]="true" #stepper
                                color="accent">
                                <mat-step><ng-template matStepLabel>Fill your information</ng-template>
                                    <div class="profile-update__section" style="
                      display: grid;
                      grid-template-columns: 1fr 1fr 1fr;
                      width: 95%;
                      color: #f3eee4;
                    ">
                                        <div class="profile-update__section__1" style="margin: 8px">
                                            <label for="fname">First Name*</label>
                                            <input type="text" id="fname" name="firstname" placeholder="Your name.."
                                                #rfirstName required />
                                        </div>
                                        <div class="profile-update__section__1" style="margin: 8px">
                                            <label for="lname">Last Name*</label>
                                            <input type="text" id="lname" name="lastname" placeholder="Your name.."
                                                #rlastName required />
                                        </div>
                                        <div class="profile-update__section__1" style="margin: 8px">
                                            <label for="bday">Date of Birth*</label>
                                            <input type="text" id="dob" name="dob" placeholder="yyyy-mm-dd" required
                                                #rbirthDay />
                                        </div>
                                        <div class="profile-update__section__1" style="margin: 8px">
                                            <label for="email">Email*</label>
                                            <input type="email" id="email" name="email" placeholder="Your email.."
                                                required #remail />
                                        </div>
                                        <div class="profile-update__section__1" style="margin: 8px">
                                            <label for="phone">Phone*</label>
                                            <input type="text" id="phone" name="phone" placeholder="Your phone.."
                                                required #rphone />
                                        </div>
                                    </div>
                                </mat-step>
                                <mat-step><ng-template matStepLabel>Fill your address</ng-template>
                                    <div class="profile-update__section" style="
                      display: grid;
                      grid-template-columns: 1fr 1fr;
                      width: 95%;
                      color: #f3eee4;
                    ">
                                        <div class="profile-update__section__1" style="margin: 8px">
                                            <label for="location">Address*</label>
                                            <input type="text" id="addres" name="address" placeholder="Your address.."
                                                required #raddress />
                                        </div>
                                        <div class="profile-update__section__1" style="margin: 8px">
                                            <label for="province">Province*</label>
                                            <select id="province" [(ngModel)]="selectedProvince"
                                                (ngModelChange)="onProvinceChange()">
                                                <option *ngFor="let province of provinces"
                                                    [value]="province.province_code">
                                                    {{ province.province }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="profile-update__section__1" style="margin: 8px">
                                            <label for="district">District*</label>
                                            <select id="district" [(ngModel)]="selectedDistrict"
                                                (ngModelChange)="onDistrictChange()">
                                                <option *ngFor="let district of districts"
                                                    [value]="district.district_code">
                                                    {{ district.district }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="profile-update__section__1" style="margin: 8px">
                                            <label for="ward">Ward*</label>
                                            <select id="ward" [(ngModel)]="selectedWard" #rward>
                                                <option *ngFor="let ward of wards" [value]="ward.ward_code">
                                                    {{ ward.ward }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </mat-step>

                                <mat-step>
                                    <ng-template matStepLabel>Fill your account</ng-template>
                                    <div class="profile-update__section" style="
                      display: grid;
                      grid-template-columns: 1fr 1fr 1fr;
                      width: 95%;
                      color: #f3eee4;
                    ">
                                        <div class="profile-update__section__1" style="margin: 8px">
                                            <label for="rUname">Username*</label>
                                            <input type="text" id="rUname" name="username" placeholder="User name.."
                                                required #rusername />
                                        </div>
                                        <div class="profile-update__section__1" style="margin: 8px">
                                            <label for="rPasword">Password*</label>
                                            <input type="password" id="rPassword" name="password" placeholder="Password.."
                                                required #rpassword />
                                        </div>
                                        <div class="profile-update__section__1" style="margin: 8px">
                                            <label for="cfPasssword">Confirm Password*</label>
                                            <input type="password" id="cfPasssword" name="confirmPassword"
                                                placeholder="Confirm password.." required #rconfirmPassword />
                                        </div>
                                    </div>
                                </mat-step>

                                <mat-step>
                                    <ng-template class="register-stepper-title" matStepLabel>Upload your
                                        avatar</ng-template>
                                    <div class="profile-update__section" style="display: flex; align-items: center">
                                        <img style="
                        width: 80px;
                        height: 80px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        background: #f2ede3;
                      " *ngIf="imageUrl" [src]="imageUrl" />
                                        <input (change)="onFileSelected($event)" type="file" id="myPImg"
                                            name="myPImg" />
                                        <label style="
                        border: 1px solid #fff;
                        width: 100px;
                        background: #f2ede3;
                        color: #000;
                      " for="myPImg" class="custom-file-upload register-btn">Upload
                                        </label>
                                        <div class="profile-update__section__1" style="
                        margin: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      ">
                                            <button class="custom-file-upload register-btn" style="
                          width: 180%;
                          margin-top: 25px;
                          border: 1px solid #fff;
                          background: #f2ede3;
                          color: #000;
                          float: right;
                          font-size: 13pt;
                        " (click)="
                          registerFarmhome(
                            rusername.value,
                            rpassword.value,
                            rconfirmPassword.value,
                            rfirstName.value,
                            rlastName.value,
                            rbirthDay.value,
                            remail.value,
                            rphone.value,
                            raddress.value,
                            rward.value
                          )
                        ">
                                                Sign up
                                            </button>
                                        </div>
                                    </div>
                                </mat-step>
                            </mat-stepper>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>