.home-container {
  width: 1340px;
  height: 600px;
  background: #fcfaf7;
  border-radius: 20px;
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;

  .home_col_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .home_img_1 {
      margin: 20px;
      width: 80%;
      height: 50%;
    }
    .go-to-btn {
      margin-top: 50px;
      width: 300px;
      font-size: 12pt;
      text-align: center;
      font-weight: 500;
      color: #fff;
      padding: 5px 15px;
      margin-right: 20px;
      background: #2d473f;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      text-decoration: none;
      border: none;
      transition-duration: 0.5s;
      &:hover {
        background: #1f312b;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
        padding: 7px 17px;
        transition-duration: 0.5s;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .home_img_2 {
    width: 45%;
    margin: 50px;
  }
}
