.order-container {
  width: 1340px;
  height: 600px;
  background: #edf0eb;
  border-radius: 20px;
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: column;

  .order-head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    p {
      margin-top: 15px;
      margin-left: 15px;
      font-size: 18px;
      font-weight: 700;
    }

    .add-product-btn {
      border: none;
      background: #2d473f;
      color: #fef4e3;
      font-weight: 500;
      width: 160px;
      height: 40px;
      border-radius: 10px;
      float: right;
      margin-top: 8px;
      margin-bottom: 8px;
      margin-right: 15px;
      transition-duration: 0.5s;

      &:hover {
        transform: scale(1.05);
        background: #1f322c;
        transition-duration: 0.5s;
      }
    }
  }

  .order-cards {
    z-index: 1;
    width: 100%;
    height: 475px;
    background: #edf0eb;
    border-top: 2px solid #1F4136;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;

    mat-expansion-panel {
      width: 605px;
      margin-left: 30px;
      background: #2d473f;
      border-radius: 0px;
      box-shadow: 4px 4px 4px rgba(16, 35, 14, 0.25);

      .expand-head-order {
        &:hover {
          text-decoration: underline;
        }
      }

      button {
        width: 110px;
        border: none;
        border-radius: 5px;
        padding: 6px 3px;
        font-weight: 600;
        color: #fff;
        transition-duration: 0.5s;
        margin-top: 1px;
      }

      #btn-accept {
        background: #596e5b;

        &:hover {
          transform: scale(1.05);
          background: #3f5141;
          box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.35);
        }
      }

      #btn-discuss {
        margin-top: 25px;
        background: #255258;

        &:hover {
          transform: scale(1.05);
          background: #1e4348;
          box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
        }
      }

      #btn-decline {
        background: #d03e3e;
        margin-top: 6px;

        &:hover {
          transform: scale(1.05);
          background: #b33535;
          box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
        }
      }

      .collapse-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .discuss-text {
          display: flex;
          flex-direction: column;

          input {
            margin-top: 5px;
            width: 180px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            height: 30px;
            padding: 10px;
          }
        }

        .decline-text {
          input {
            margin-top: 5px;
            width: 420px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            height: 30px;
            padding: 10px;
          }
        }
      }
    }

    .order-card-full {
      margin-left: 5px;
      margin-bottom: 5px;

      .order-card {
        margin-left: 30px;
        margin-top: 20px;
        
        width: 605px;
        height: 300px;
        background: rgba(45, 71, 63);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 10px 10px 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        padding: 15px;

        .order-img {
          border-radius: 10px;
          height: 120px;
          width: 120px;
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .order-info {
          margin-left: 22px;
          margin-right: 22px;
          background: #fef4e3;
          width: 360px;
          height: 120px;
          border-radius: 10px;
          padding: 10px;

          h2 {
            margin-bottom: 5px;
            font-size: 13pt;
            font-weight: 600;
          }

          ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-decoration: none;
            list-style-type: none;
            color: #535e5c;
            margin-left: -30px;
            margin-top: -5px;
            font-size: 10pt;

            li {
              margin: 5px 0;
            }
          }
        }

        .merchant-info {
          border-top: 2px solid #fef4e3;
          border-bottom: 2px solid #fef4e3;
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 2;
          margin-top: 15px;
          color: #fef4e3;

          h2 {
            margin-bottom: 1px;
            font-size: 11.5pt;
            font-weight: 700;
          }

          h3 {
            margin-bottom: 1px;
            font-size: 10pt;
          }

          .merchant-img {
            height: 100px;
            width: 100px;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            float: right;
            margin-top: -110px;
            border-radius: 50%;
            background-image: url("../../../assets/image-placeholder.png");
            background-size: cover;
          }
        }

        .order-btn {
          margin-left: 30px;
          display: flex;
          flex-direction: column;
        }

        .order-id {
          padding: 5px;
          background: #fef4e3;
          height: 32%;
          width: 50px;
          font-weight: 700;
          border-radius: 10px;
        }
      }
    }
  }
}
