.product-container {
  width: 1340px;
  height: 600px;
  background: #e6e8e4;
  border-radius: 20px;
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.25);

  .product-head {

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    p {
      margin-top: 15px;
      margin-left: 15px;
      font-size: 18px;
      font-weight: 700;

    }

    #add-product-btn {
      border: none;
      background: #4fb75a;
      color: #fff;
      font-weight: 500;
      width: 250px;
      height: 40px;
      border-radius: 10px;
      float: right;
      margin-top: 15px;
      margin-right: 15px;
      transition-duration: 0.5s;

      &:hover {
        transform: scale(1.05);
        background: #48a451;
        transition-duration: 0.5s;
      }
    }
  }

  .product-cards {
    width: 100%;
    height: 88%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 0 0 20px 20px;
    overflow-y: auto;

    .product-card {
      display: flex;
      flex-direction: column;
      background: #f2ebde;
      position: relative;
      width: 520px;
      height: 92%;
      margin-left: 80px;
      margin-bottom: 30px;
      border-radius: 15px;
      box-shadow: 4px 4px 4px rgba(16, 35, 14, 0.25);

      &__content {
        display: flex;

        h3 {
          font-size: 14pt;
          font-weight: 700;
        }

        .product-id {
          margin: 5px;
        }

        .product-contain {
          margin-top: 30px;

          margin-right: -10px;

          ul {
            text-decoration: none;
            list-style-type: none;
            color: #666b6a;

            li {
              margin: 10px 0;
            }
          }

          .product-name {
            margin: 5px 30px;
          }
        }

        .product-img {
          width: 200px;
          height: 200px;
          border-radius: 20px;
          margin-top: 35px;
          margin-left: -80px;
        }
      }

      &__button {
        margin-bottom: 20px;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .sg_price {
          font-size: 13pt;
          font-weight: 500;
          margin-right: 20px;
          text-align: center;
          padding: 8px;
          background: #1ba457;
          border-radius: 5px;
          box-shadow: 4px 4px 4px rgba(146, 66, 66, 0.25);

          h5 {
            color: #fff;
            font-size: 11pt;
            margin-bottom: -2px;
          }
        }

        button {
          margin-right: 20px;
          width: 100%;
          border: none;
          border-radius: 10px;
          padding: 5px 0;
          font-weight: 600;
          color: #fff;
          transition-duration: 0.5s;
        }

        #update-product-btn {
          background: #31828b;

          &:hover {
            transform: scale(1.05);
            background: #286a71;
          }
        }

        #delete-product-btn {
          background: #bd5f5f;

          &:hover {
            transform: scale(1.05);
            background: #994c4c;
          }
        }
      }
    }
  }
}