.sidebar-container {
    width: 86px;
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.25);

    .hide {
        margin-top: -15px;
        display: none;
        font-weight: 600;
        transition: 0;
    }

    .side-icons:hover+.hide {
        display: block;
        color: #1F4136;
        transition-delay: 1s;

    }

    .side-icons {
        position: relative;
        top: 15px;
        margin-bottom: 33px;

        :hover {
            background: #61be75;
            border-radius: 10px;
            padding: 5px;
            transform: scale(1.1);
            transition-duration: 0.2s;
        }

        .side-icon {
            position: relative;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition-duration: 0.2s;
        }


    }

    .list-item-active {
        background: #61be75;
        border-radius: 10px;
        padding: 5px;
        transform: scale(0.8);
        transition-duration: 1s;
    }
}