<div mat-dialog-content class="testing-container">
    <div class="testing-container__col1">
        <img src="../../../assets/fruit_demo.png" />
        <div class="predict-area">
            <h4 id="predict-text">#3</h4>
            <h4 id="predict-text">Active</h4>
            <h4 id="predict-text">Join date: 11/12/2022</h4>
        </div>
        <div class="predict-area">
            <h4 id="predict-text">Completed transactions</h4>
            <h4 id="predict-text">99</h4>
        </div>
    </div>
    <div class="testing-container__col2">
        <div class="input-product-info">
            <label class="add-p-label" for="add-p-name">Merchant name</label>
            <input type="text" id="add-p-name" name="add-p-name" readonly/>
        </div>
        <div class="testing-container__col2__row2">
            <div class="input-product-info">
                <label class="add-p-label" for="add-p-weight">Birthday</label>
                <input type="text" id="add-p-weight" name="add-p-weight" readonly/>
            </div>
            <div class="input-product-info">
                <label class="add-p-label" for="add-p-season">Phone</label>
                <input type="text" id="add-p-weight" name="add-p-weight" readonly/>
            </div>
        </div>
        <div class="input-product-info">
            <label class="add-p-label" for="add-p-name">Email</label>
            <input type="text" id="add-p-name" name="add-p-name" readonly/>
        </div>
        <div class="input-product-info">
            <label class="add-p-label" for="add-p-description">Location</label>
            <textarea required readonly></textarea>
        </div>
        <div class="input-product-info">
            <label class="add-p-label" for="add-p-description">Description</label>
            <textarea style="height: 90px !important" required readonly></textarea>
        </div>
        <div mat-dialog-actions class="testing-container__col2__row2">
            <button mat-dialog-close id="cancel-p-btn">Cancel</button>
        </div>
    </div>
</div>

