<div class="sidebar-container">
   <a class="side-icons" href="/">
    <img class="side-icon" src="../../../assets/images/icon/home.png">
   </a>
   <a class="side-icons">
    <img class="side-icon" src="../../../assets/images/icon/file.png">
   </a>
   <a class="side-icons">
    <img class="side-icon" src="../../../assets/images/icon/price.png">
   </a>
   <a class="side-icons" href="/product">
    <img class="side-icon" src="../../../assets/images/icon/apple.png">
   </a>
   <a class="side-icons">
    <img class="side-icon" src="../../../assets/images/icon/deal.png">
   </a>
   <a class="side-icons">
    <img class="side-icon" src="../../../assets/images/icon/history.png">
   </a>
   <a class="side-icons">
    <img class="side-icon" src="../../../assets/images/icon/user.png">
   </a>
   <a class="side-icons">
    <img class="side-icon" src="../../../assets/images/icon/newspaper.png">
   </a>
</div>
