<div class="sidebar-container">
   <a class="side-icons" routerLinkActive="list-item-active" routerLink="/home">
      <img class="side-icon" src="../../../assets/images/icon/home.png">
   </a>
   <div class="hide">Home</div>
   <a class="side-icons">
      <img class="side-icon" src="../../../assets/images/icon/file.png">
   </a>
   <div class="hide">Overview</div>
   <a class="side-icons" routerLinkActive="list-item-active" routerLink="/price">
      <img class="side-icon" src="../../../assets/images/icon/price.png">
   </a>
   <div class="hide">Prices</div>
   <a class="side-icons" routerLinkActive="list-item-active" routerLink="/product">
      <img class="side-icon" src="../../../assets/images/icon/fruit.png">
   </a>
   <div class="hide">Products</div>
   <a class="side-icons" routerLinkActive="list-item-active" routerLink="/order">
      <img class="side-icon" src="../../../assets/images/icon/deal.png">
   </a>
   <div class="hide">Orders</div>
   <a class="side-icons" routerLinkActive="list-item-active" routerLink="/history">
      <img class="side-icon" src="../../../assets/images/icon/history.png">
   </a>
   <div class="hide">History</div>
   <a class="side-icons">
      <img class="side-icon" src="../../../assets/images/icon/user.png">
   </a>
   <div class="hide">Profile</div>
   <a class="side-icons">
      <img class="side-icon" src="../../../assets/images/icon/newspaper.png">
   </a>
   <div class="hide">News</div>
</div>