<div class="order-container">
  <div class="order-head">
    <p>{{ today | date : "dd/MM/yyyy" }}</p>
    <div class="history-head-btn">
      <button class="add-product-btn" id="refresh" style="width: 80px" (click)="refreshBtn()">
        Refresh
      </button>
    </div>
  </div>
  <img class="loading-fruit" src="../../../assets/images/healthy-food-unscreen.gif" *ngIf="loading"
    style="display: block; margin-left: auto; margin-right: auto" />
  <mat-tab-group color="accent" class="tab-group" style="background:#1F4136;" *ngIf="!loading" dynamicHeight>
    <mat-progress-bar color="accent" *ngIf="loading2" mode="indeterminate"></mat-progress-bar>
    <!--Pending-->
    <mat-tab label="Pending">
      <div class="order-cards">
        <ng-container *ngFor="let o of orders; let i = index">
          <div *ngIf="o.status.name === 'Pending'" class="order-card-full">
            <div class="order-card">
              <img class="order-img" src="{{ o.fruit.images[0].url }}" />
              <div *ngIf="o.status.name != 'Dealing'" class="order-info">
                <h2>Order: {{ o.fruit.name }}</h2>
                <ul>
                  <li>
                    Amount: <b> {{ o.amount }}kg </b>
                  </li>
                  <li>
                    Price: <b> {{ o.price }}000vnd </b>
                  </li>
                  <li>Transport: {{ o.transport ? "Yes" : "No" }}</li>
                  <li>Date: {{ o.date | date : "dd/MM/yyyy" }}</li>
                </ul>
              </div>
              <div *ngIf="o.status.name === 'Dealing'" class="order-info">
                <h2>Order: {{ o.fruit.name }}</h2>
                <ul>
                  <li>
                    Deal amount: <b> {{ o.dealAmount }}kg </b>
                  </li>
                  <li>
                    Deal price: <b> {{ o.dealPrice }}000vnd </b>
                  </li>
                  <li>Transport: {{ o.transport ? "Yes" : "No" }}</li>
                  <li>Date: {{ o.date | date : "dd/MM/yyyy" }}</li>
                </ul>
              </div>
              <h2 class="order-id">#{{ o.id }}</h2>
              <div class="merchant-info">
                <h2 style="color: #54d552" *ngIf="o.status.name === 'Pending'">
                  {{ o.status.name }}
                </h2>
                <h2>{{ o.merchant.firstName }} {{ o.merchant.lastName }} - {{ o.merchant.phone }}</h2>
                <h3>
                  {{ o.merchant.location.address }},
                  {{ o.merchant.location.ward.name }},
                </h3>
                <h3>
                  {{ o.merchant.location.ward.district.name }},
                  {{ o.merchant.location.ward.district.province.name }}
                </h3>
                <img class="merchant-img" src="{{ o.merchant.avatar }}" />
              </div>
            </div>
            <mat-accordion>
              <!--Accept-->
              <mat-expansion-panel>
                <mat-expansion-panel-header class="expand-head-order">
                  <mat-panel-title> Click to Accept </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="collapse-content">
                  <p>Are you sure you agree with this order?</p>
                  <button id="btn-accept" (click)="acceptOrder(o.id.toString())">
                    Accept
                  </button>
                </div>
              </mat-expansion-panel>
              <!--Discuss-->
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="expand-head-order">
                  <mat-panel-title style="color: rgb(215, 222, 159)">
                    Click to Discuss
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="collapse-content">
                  <div class="discuss-text">
                    <label for="deal-price">Deal Price (000VND)</label>
                    <input type="text" id="deal-price" name="deal-price" placeholder="Deal price.." #dealPrice />
                  </div>
                  <div class="discuss-text">
                    <label for="amount">Deal amount (kg)</label>
                    <input type="text" id="deal-amount" name="deal-amount" placeholder="Deal amount.." #dealAmount />
                  </div>
                  <button id="btn-discuss" (click)="
                      discussOrder(
                        o.id.toString(),
                        dealPrice.value,
                        dealAmount.value
                      )
                    ">
                    Discuss
                  </button>
                </div>
              </mat-expansion-panel>
              <!--Decline-->
              <mat-expansion-panel style="border-radius: 0 0 10px 10px" (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="expand-head-order">
                  <mat-panel-title style="color: #efa1a1">
                    Click to Decline
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="collapse-content">
                  <div class="decline-text">
                    <input type="text" id="decline-text" name="decline-text"
                      placeholder="The reason why you reject this order.." #reason />
                  </div>
                  <button id="btn-decline" (click)="deleteOrder(o.id.toString(), reason.value)">
                    Decline
                  </button>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </ng-container>
      </div>
    </mat-tab>
    <!--Dealing-->
    <mat-tab label="Dealing">
      <div class="order-cards">
        <ng-container *ngFor="let o of orders; let i = index">
          <div *ngIf="o.status.name === 'Dealing'" class="order-card-full">
            <div class="order-card" style="border-radius: 10px">
              <img class="order-img" src="{{ o.fruit.images[0].url }}" />
              <div *ngIf="o.status.name === 'Dealing'" class="order-info">
                <h2>Order: {{ o.fruit.name }}</h2>
                <ul>
                  <li>
                    Deal amount: <b> {{ o.dealAmount }}kg </b>
                  </li>
                  <li>
                    Deal price: <b> {{ o.dealPrice }}000vnd </b>
                  </li>
                  <li>Transport: {{ o.transport ? "Yes" : "No" }}</li>
                  <li>Date: {{ o.date | date : "dd/MM/yyyy" }}</li>
                </ul>
              </div>
              <h2 class="order-id">#{{ o.id }}</h2>
              <div class="merchant-info">
                <h2 style="color: #c7cb79" *ngIf="o.status.name === 'Dealing'">
                  {{ o.status.name }}
                </h2>
                <h2>{{ o.merchant.firstName }} {{ o.merchant.lastName }} - {{ o.merchant.phone }}</h2>
                <h3>
                  {{ o.merchant.location.address }},
                  {{ o.merchant.location.ward.name }},
                </h3>
                <h3>
                  {{ o.merchant.location.ward.district.name }},
                  {{ o.merchant.location.ward.district.province.name }}
                </h3>
                <img class="merchant-img" src="{{ o.merchant.avatar }}" />
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-tab>
    <!--Canceled-->
    <mat-tab label="Canceled">
      <div class="order-cards">
        <ng-container *ngFor="let o of orders; let i = index">
          <div *ngIf="o.status.name === 'Canceled'" class="order-card-full">
            <div class="order-card" style="border-radius: 10px">
              <img class="order-img" src="{{ o.fruit.images[0].url }}" />
              <div class="order-info">
                <h2>Order: {{ o.fruit.name }}</h2>
                <ul>
                  <li>
                    Amount: <b> {{ o.amount }}kg</b>
                  </li>
                  <li>
                    Price: <b> {{ o.price }}000vnd</b>
                  </li>
                  <li>Transport: {{ o.transport ? "Yes" : "No" }}</li>
                  <li>Date: {{ o.date | date : "dd/MM/yyyy" }}</li>
                </ul>
              </div>
              <h2 class="order-id">#{{ o.id }}</h2>
              <div class="merchant-info">
                <h2 style="color: #efa1a1" *ngIf="o.status.name === 'Canceled'">
                  {{ o.status.name }} - {{ o.declineReason }}
                </h2>
                <h2>{{ o.merchant.firstName }} {{ o.merchant.lastName }} - {{ o.merchant.phone }}</h2>
                <h3>
                  {{ o.merchant.location.address }},
                  {{ o.merchant.location.ward.name }},
                </h3>
                <h3>
                  {{ o.merchant.location.ward.district.name }},
                  {{ o.merchant.location.ward.district.province.name }}
                </h3>
                <img class="merchant-img" src="{{ o.merchant.avatar }}" />
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>